.parent{
    width: 500px;
    padding: 10px;
    background-color: red;
    box-sizing: border-box;
}

.child{
    width: 100%;
    padding: 10px;
    background-color: yellow;
    box-sizing: border-box;
}

.grand{
    width: 100%;
    padding: 10px;
    background-color: green;
    box-sizing: border-box;
}